* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Colors*/
  --mod-violet: hsl(263, 55%, 52%);
  --v-d-gray-blue: hsl(217, 19%, 35%);
  --v-d-black-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --l-gray-blue: hsl(210, 46%, 95%);

  /*Fonts*/
  --font-fam: "Barlow Semi Condensed", sans-serif;
  --small-weight: 500;
  --large-weight: 600;
  --body-font-size: 0.813rem; /*13px*/

  /*Other*/
  --background-img: url(images/bg-pattern-quotation.svg);
}

body {
  height: 100vh;
  background-color: var(--l-gray-blue);
  font-family: var(--font-fam);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  "daniel daniel john kira"
  "jean pat pat kira";
}



.daniel-div {
  grid-area: daniel;
}

.johnathan-div {
  grid-area: john;
}

.kira-div {
  grid-area: kira;
}

.jeanette-div {
  grid-area: jean;
}

.patrick-div {
  grid-area: pat;
}
















/*Author Styles */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }